body{
    background-color: rgb(135, 139, 138);
    font-family: 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(249, 249, 249);


}

#container{
    height: 1000px;
    width: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(52, 41, 41, 0.3) );
    margin: 20px auto;
}
#calculator{
    height: 520px;
    width: 500px;
    background-color: rgb(68, 84, 84);
    margin: 3px ;
    top: 0 ;
    border-radius: 6ox;
    position: relative;
    box-shadow: rgb(109, 107, 67);
}
#keyboard{
    height: 400px;
    color: rgb(95, 85, 71);
}
.operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}
.number, .empty{
    background-color: rgb(104, 104, 95);
    background-color: hwb(105 4% 7%);
}
.number, .operator{
    cursor: pointer;
}
.operator:active, .number:active{
    font-size: 13px;
}
.operator:focus, .number:focus ,.empty:focus{
    border: 0;
}